/* ====================================Kleuren Pallette====================================
Yellow Orange:                  #FFA630
Black coral:                    #465362
Sheen Green:                    #A2D729
Morning Blue:                   #82A3A1
Silver Sand:                    #BBC8CA
*/

/* ====================================Geimporteerde Fonts====================================
font-family: 'Space Grotesk', sans-serif;
font-family: 'Space Mono', monospace;
font-family: 'Yusei Magic', sans-serif;
*/

/*---------------------------------------LAYOUT -----------------------------------------------*/
/*---------------------------------------OPMAAK------------------------------------------------*/
*{
    font-family: 'Space Mono', monospace;
    margin:0px;
    padding:0px;
}
body{
    background: #FFA630;
}
#smallScreen nav{
    height: 50px;
}
#smallScreen nav,#smallScreen img{
    background-color: #465362;
}
#burgerMenu{
    height: auto;
    margin-left:10px;
    margin-top: 6px;
}
#burgerMenu:hover{
    width:40px;
}
.datum{
    
}
.knoppie{
    background:#A2D729;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-weight: bold;
    color:#465362;
}
.knoppie:hover{
    background: #84af21;
    color:black;
}
#dateBtn{
    height:50px;
}
input[type="date"]{
    background: #BBC8CA;
    border-radius: 5px;
    width: 110px;
}
input[type="number"]{
    width:50px;
}
#elCount{
    height: 160px;
    margin-top:20px;
}
#contentRapper{
    width: 100%;
    margin: 20% 0;
    height: 55vh;
    border-top: 4px solid #84af21;
    border-bottom: 4px solid #84af21;
}
#leftBox{
    background:#465362;
    float: left;
    height: 100%;
    width: 30%;
    line-height: 30px;
    text-align: center;
    color: #A2D729;
}
#rightBox{
    float: left;
    width: 69.9999%;
    height: 100%;
    background:#BBC8CA;
    color:#465362;
    text-align: center;
}
.rightData{
    padding: 20px 20px;
}
